useDynLib(rbcf)

export(rcbf.version)
export(htslib.version)
export(bcf.open)
export(bcf.close)
export(bcf.nsamples)
export(bcf.samples)
export(bcf.contigs)
export(bcf.chromosomes)
export(bcf.sample.at)
export(bcf.sample2index)
export(bcf.dictionary)
export(bcf.query)
export(bcf.next)
export(bcf.new.writer)
export(bcf.write.variant)
export(variant.tid)
export(variant.contig)
export(variant.chrom)
export(variant.start)
export(variant.pos)
export(variant.has.id)
export(variant.id)
export(variant.end)
export(variant.stop)
export(variant.nalleles)
export(variant.alleles)
export(variant.reference)
export(variant.alt.alleles)
export(variant.has.qual)
export(variant.qual)
export(variant.is.filtered)
export(variant.filters)
export(variant.has.filter)
export(variant.types)
export(variant.is.snp)
export(variant.max.ploidy)
export(variant.genotype)
export(variant.genotypes)
export(variant.nsamples)
export(genotype.alleles.idx0)
export(genotype.ploidy)
export(genotype.homref)
export(genotype.het)
export(genotype.homvar)
export(genotype.hetnonref)
export(genotype.nocall )
export(genotype.phased )
export(genotype.sample)
export(variant.string.attribute)
export(variant.int.attribute)
export(variant.float.attribute)
export(variant.flag.attribute)
export(variant.has.attribute)
export(bcf.filters)
export(bcf.infos)
export(bcf.formats)
export(variant.info.ids)
export(variant.format.ids)
export(variant.vep)
export(variant.snpeff)
export(genotype.dp)
export(genotype.has.dp)
export(genotype.gq)
export(genotype.has.gq)
export(genotype.pl)
export(genotype.has.pl)
export(genotype.ad)
export(genotype.has.ad)
export(genotype.int.attribute)
export(genotype.float.attribute)
export(genotype.string.attribute)
export(genotype.filtered)
export(variant.genotypes.flag.attribute)
export(variant.genotypes.int.attribute)
export(variant.genotypes.float.attribute)
export(variant.genotypes.allele.idx0)
export(variant.genotypes.allele.counts)
export(variant.genotypes.allele.strings)

export(variant.genotypes.set.int.attribute)
export(variant.genotypes.set.allele.strings)
