useDynLib(rbcf)

export(bcf.open)
export(bcf.close)
export(bcf.nsamples)
export(bcf.samples)
export(bcf.contigs)
export(bcf.chromosomes)
export(bcf.sample1)
export(bcf.dictionary)
export(bcf.query)
export(bcf.next)
export(variant.tid)
export(variant.contig)
export(variant.chrom)
export(variant.start)
export(variant.pos)
export(variant.has.id)
export(variant.id)
export(variant.end)
export(variant.stop)
export(variant.nalleles)
export(variant.alleles)
export(variant.reference)
export(variant.alt.alleles)
export(variant.has.qual)
export(variant.qual)
export(variant.is.filtered)
export(variant.filters)
export(variant.types)
export(variant.is.snp)
export(variant.max.ploidy)
export(variant.genotype)
export(genotype.alleles.idx0)
export(genotype.ploidy)
export(genotype.homref)
export(genotype.het)
export(genotype.homvar)
export(genotype.hetnonref)
export(genotype.nocall )
export(genotype.phased )
export(variant.string.attributes)
export(variant.int.attributes)
export(variant.float.attributes)

